.dog-slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
   /* overflow-x: auto;  Allow horizontal overflow for scrolling */
    white-space: nowrap; /* Prevent wrapping of slides */
    -webkit-overflow-scrolling: touch; 
    padding-left: 60px; /* Add padding for left slider button */
    padding-right: 60px; /* Add padding for right slider button */
  }

.dog-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.dog-slider {
    flex: 0 0 calc(20% - 20px);
    margin: 0 10px;
}

.dog-slider img {
  width: 200px; /* customize the width property value */
  height: 200px; /* customize the height property value */
  border-radius: 20px;
  object-fit: cover;
  position: relative;
  display: inline-block;
}

.dog-slider-button {
    position: absolute; 
    top: 0;
    bottom: 0;
    margin-top: auto;
    /* transform: translateY(-50%); */
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    background: #dad8d6;
    border: none;
    z-index: 1;
}

.dog-slider-button-left {
    left: 0;
   
}

.dog-slider-button-right {
    right: 0;
    
}

.cat-slider {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
  }

  .cat-slider-item {
    flex: 1 0 calc(5% - 20px); /* Adjust 20% to change the number of slides per row */
    margin: 10px;
  }

  .cat-slider-container {
  overflow: hidden;
  }

  .cat-slider-wrapper {
      display: flex;
  }

  .cat-slider {
      display: flex;
      flex-wrap: nowrap;
      transition: transform 0.5s ease;
  }

  .cat-slider-item {
      margin-right: 20px;
  }

  .cat-slider-button {
      position: absolute;
      top: 50%;
      bottom: 0;
      margin-top: auto;
      transform: translateY(-50%);
      background-color: #dad8d6;
      border: none;
      font-size: 40px;
      cursor: pointer;
  }
  
  .cat-slider-button-left {
      left: 0;
  }

  .cat-slider-button-right {
      right: 0;
  }

  .slider-hover {
      position: relative;
  }

  .slider-hover:hover .hover-overlay {
      opacity: 1;
      transform: translateY(0);
  }

  .hover-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      transform: translateY(-50%);
  }

  .name-tag {
      background-color: black;
      color: white;
      padding: 3px 6px;
      border-radius: 10px;
      display: inline-block;
      font-weight: bold;
  } 


 .cat-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap; 
  -webkit-overflow-scrolling: touch; 
  padding-left: 50px; 
  padding-right: 50px; 
} 

 .cat-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.cat-slider {
    flex: 0 0 calc(20% - 20px);
    margin: 0 10px;
    position: relative;
} 

.cat-slider img {
  width: 200px; /* customize the width property value */
  height: 200px; /* customize the height property value */
  border-radius: 20px;
  object-fit: fill;
  position: relative;
  display: inline-block;
} 

 .cat-slider-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    /* transform: translateY(-50%);  */
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    background-color: #dad8d6;
    border: none;
}

.cat-slider-button-left {
    left: 0;
}

.cat-slider-button-right {
    right: 0;
} 



/* cat hover*/
.slider-hover {
    position: relative;
    border-radius: 20px;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
}

.hover-overlay h3 {
    color: #fff;
}

.slider-hover:hover .hover-overlay {
    opacity: 1;
}

.name-tag {
  color: white;
  background-color: black;
  text-align: center; 
  border-radius: 10px;
} 